.projects__link {
    position: relative;
    margin-left: 50px;
    cursor: pointer;
    line-height: 0;
}

.projects__link::after {
    content: 'Скачать презентацию';
    position: absolute;
    bottom: -20px;
    width: 14vw;
    left: 3vw;
    background: white;
    color: black;
    font-size: 16px;
    padding: 10px 10px 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.15;
}