.overlay__close {
    position: absolute;
    bottom: 300px;
    right: 0;
    margin: 0;
    display: block;
    background: white;
    color: #D8B34F;
    text-decoration: none;
    font-weight: normal;
    padding: 10px 12px;
}