.distribution__item {
    height: 40px;
    width: 200px;
    object-fit: contain;
    padding: 0 20px 40px;
    opacity: .4;
}

.distribution__item:nth-child(2) {
    height: 80px;
    width: 120px;
}

.distribution__item:nth-child(4) {
    height: 80px;
    width: 120px;
}

.distribution__item:nth-child(6) {
    height: 80px;
    width: 270px;
}