.movies__grid-item {
    width: 25%;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}